<section>
  <p>
    <span>GET</span>
    &nbsp;
    <a>{{route}}</a>
    <!--<input disabled value="{{route}}">-->
    <!--<button class="copyButton">Copy</button>-->
  </p>
  <p>
    <strong>{{info}}</strong>
  </p>
  <hr>
</section>