<div class="panel" id="{{title}}">
  <section>
    <img src="{{icon}}">
    <h3>{{title}}</h3>
  </section>
  <section class="info" style="display:none">
    <p>This is the {{title}} API list</p>
  </section>
</div>
